{% extends "base.html" %}

{#{% block tabtitle %} {{ tittle }} {% endblock tabtitle %}#}

{% load staticfiles %}

{% block javascript %}
{% endblock %}

{% block content %}

	<h1>{{ group_name }}</h1>

    <div class="row">
        <div class="col-md-12">

            <h3>Get Involved :)</h3>
        </div>

        <div class="col-md-12">
            <ul>
                <li>
                    Come to our <a href="{% url 'talksapp:home-page' %}">meetups/talks</a>
                </li>

                <li>
                    Propose a Meetup/Talk/Event
                </li>

                <li>
                    Chat and collabate with the group members on our Slack channel. Sign up <a href="https://pdpdmeetup-slack.herokuapp.com/">here</a>
                </li>

                <li>
                    Contribute to the development of this site on <a href="https://github.com/mattharley/pdpdmeetup">github</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock content %}



