{% extends "base.html" %}

{#{% block tabtitle %} {{ title }} {% endblock tabtitle %}#}

{% load staticfiles %}

{% block javascript %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        var api_url = '{% url 'homeapp:ajax_meetups_tab' 'past' %}';
    </script>
{% endblock %}

{% block content %}
    {% verbatim %}

    <div id="app">
        <h3>My talks</h3>
        <ul>
            <li v-for="talk in talks" v-if="talk.event_name.indexOf('Same') >= 0">{{ talk.event_name }}</li>
        </ul>
        <pre>{{ talks }}</pre>
    </div>


    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    talks: []
                };
            },
            mounted() {
                axios.get(api_url)
                    .then(this.on_response);
            },
            methods: {
                on_response(response) {
                    this.talks = response.data.events;
                }
            }
        });
    </script>
    {% endverbatim %}
{% endblock content %}