{% extends "base.html" %}

{#{% block tabtitle %} {{ title }} {% endblock tabtitle %}#}

{% load staticfiles %}

{% block javascript %}
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>
    var upcomingUrl = '{% url 'homeapp:json_meetups_tab' 'upcoming' %}';
    var pastUrl = '{% url 'homeapp:json_meetups_tab' 'past' %}';
</script>


{% endblock %}

{% block content %}

<h1>{{ group_name }}</h1>

{% verbatim %} 

    <div id="app">
        <div v-for="talk in upcomingTalks">
            <h2><a :href="talk.event_url" target="_blank">{{ talk.event_name }}</a></h2>
            <div v-html="talk.event_description"></div>
        </div>

        <hr />
        
        <pre>{{ upcomingTalks }}</pre>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    upcomingTalks: [],
                    pastTalks: []
                };
            },
            mounted() {
                axios.get(upcomingUrl)
                    .then((response) => this.upcomingTalks = response.data.events);

                axios.get(pastUrl)
                    .then((response) => this.pastTalks = response.data.events);
            }
        });

    </script>

{% endverbatim %} 

{% endblock content %}



