{% extends "base.html" %}

{#{% block tabtitle %} {{ title }} {% endblock tabtitle %}#}

{% load staticfiles %}

{% block javascript %}
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

{% endblock %}

{% block content %}

	<h1>{{ group_name }}</h1>

{% verbatim %} 

<div id="app">
  {{ message }}
</div>

<script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
</script>

{% endverbatim %} 

{% endblock content %}



