{% extends "base.html" %}

{#{% block tabtitle %} {{ title }} {% endblock tabtitle %}#}

{% load staticfiles %}

{% block javascript %}
<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- import CSS -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>


<script>
    var upcomingUrl = '{% url 'homeapp:json_meetups_tab' 'upcoming' %}';
    var pastUrl = '{% url 'homeapp:json_meetups_tab' 'past' %}';
</script>


{% endblock %}

{% block content %}

<h1>{{ group_name }}</h1>

{% verbatim %} 

    <div id="app">
        <el-tabs v-model="active_tab">
            <el-tab-pane label="Upcoming" name="upcoming">
                <div v-for="talk in upcomingTalks">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <div>
                                <div><a :href="talk.event_url ">{{ talk.event_name }}</a></div>
                            </div>
                        </div>
                        <div v-html="talk.event_description"></div>
                    </el-card>
                </div>
            </el-tab-pane>

            <el-tab-pane label="Past" name="past">
                <p>Only show Robin's talks? <el-switch v-model="robin"></el-switch></p>
                <div v-for="talk in pastTalks" v-if="!robin || (robin && talk.og_event_description.indexOf('Robin') >= 0)">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <div>
                                <div><a :href="talk.event_url ">{{ talk.event_name }}</a></div>
                            </div>
                        </div>
                        <div v-html="talk.event_description"></div>
                    </el-card>
                </div>
            </el-tab-pane>
        </el-tabs>

    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    upcomingTalks: [],
                    pastTalks: [],
                    active_tab: 'upcoming',
                    robin: true
                };
            },
            mounted() {
                axios.get(upcomingUrl)
                    .then((response) => this.upcomingTalks = response.data.events);

                axios.get(pastUrl)
                    .then((response) => this.pastTalks = response.data.events);
            }
        });

    </script>

{% endverbatim %} 

{% endblock content %}



