dj-database-url==0.4.1
Django==1.9.6
oauthlib==1.0.3
Pillow==3.2.0
psycopg2==2.6.1
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.4
pywin32==220
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
twitter==1.17.1
TwitterAPI==2.3.3.4
whitenoise==3.0
wordcloud==1.1.3
