-i https://pypi.org/simple/
cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
dj-database-url==0.5.0
django==2.2.8
djangorestframework==3.10.3
gunicorn==19.9.0
idna==2.8
meetup-api==0.1.1
pillow==6.1.0
psycopg2==2.8.3
pytz==2019.2
raven==6.10.0
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
whitenoise==3.3.1
