{% extends "base.html" %}

{% block content %}
    <h1>Divide By</h1>
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{ error }}
            </div>
        {% endfor %}
    {% else %}
        <p>{{ numerator }} divided by {{ denominator }} equals {{ result }}</p>
    {% endif %}
{% endblock %}