{% extends "base.html" %}

{% block tabtitle %} {{ title }} {% endblock tabtitle %}

{% block content %}

    <h1>{{ title }}</h1>

    {% if messages %}
        <div class="row">
            <div class="col-sm-6 col-md-4">
                {% for message in messages %}

                    {% if message.tags == "success" %}

                        <p{% if message.tags == "success" %} class="alert alert-success" {% endif %}>{{ message }}</p>
                        <script type="text/javascript">     window.setTimeout(function () {
                          $('.alert').hide();
                        }, 3000); </script>

                    {% endif %}

                {% endfor %}
            </div>
        </div>
    {% endif %}




    <form name='form' enctype="multipart/form-data" method='POST' action=''>

        {% csrf_token %}
        {{ form.as_p }}

        <button type="button" class="btn btn-primary" onclick="document.form.submit()">Save</button>
        <button type="button" class="btn btn-danger" onclick="javascript:location.href='{% url 'companies-home' %}'">Back</button>

    </form>


{% endblock content %}
