{% extends "base.html" %}

{% block tabtitle %} {{ title }} {% endblock tabtitle %}

{% block content %}
	<h1>{{ title }}</h1>
	<h2> <a href="{% url 'companies-create' %}" > Add a Company </a> </h2>
	

	<br/>

    <div id="spa"></div>
    <style>
        .custom-list {
            border: 1px solid red;
        }
    </style>
    <script>
        var super_global = {
            companies: [],
        }

        SubCompanyApp = {
            view: () => {
                return m('div', {style: {background: 'green'}}, 'Yes this looks bad, please help us!')
            }
        }

        CompaniesApp = {
            oninit(app_node) {
                m.request('/api/companies/').then(d => {
                    super_global.companies = d
                });
                // $.ajax()
            },
            view(app_node) {
                const companies = super_global.companies;
                return m('div',
                    m(SubCompanyApp), 
                    m('b',
                        {
                            oncreate: (vnode) => {
                                $(vnode.dom).css(
                                    {'background': 'red'});
                            },
                            onupdate: () => {},
                            ondelete: () => {},
                        },
                        'Number of companies:', companies.length),
                    m('ul.custom-list',
                        super_global.companies.map(company => {
                            return m('li', company.name);
                        })),
                    m('button',
                        {
                            onclick: () => {
                                super_global.companies.push({
                                    name: 'Example',
                                });
                            }
                        },
                        'Add'));
                }
        }
        m.mount(document.getElementById('spa'), CompaniesApp)
    </script>

	
	<div class="row" >
		<div id='messages' class="col-sm-6 col-md-4">
    	{% for message in messages %}
    	<p{% if message.tags == "success" %} class="alert alert-success" {% endif %}>{{ message }}</p>
    	{% endfor %}
		</div>
	</div>
	


	{% if count > 0 %}
		<div class="row">
  		<div class="col-lg-3">

		{% for obj in object_list %}

		    <div id='thumbnail_{{ obj.id }}' class="thumbnail">
		      <img src="{{ obj.logo.url }}" alt="logo">
		      <div class="caption">
		        <h3>{{ obj.name }}</h3>
		        
		        ABN: {{ obj.abn }} <br>
			 	Description: 
			 	<p>{{ obj.description }}</p>

		        <p>
		        <button type="button" class="btn btn-warning" onclick="javascript:location.href='{% url 'company-edit'  obj.id   %}'" > Update </button>
		        <button type="button" class="btn btn-danger" onclick="delete_company({{ obj.id }})" > Delete </button>
		        </p>

		      </div>
		    </div>

	 	{% endfor %}
	 	</div>
		</div>
	{% endif %}


	<script type="text/javascript">	

		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		
		
		function delete_company(company_id) {
			var csrftoken = getCookie('csrftoken');
		    console.log("deleteing a company using ajax") // sanity check
		    $.ajax({
		        url : "{% url 'company-delete' %}", // the endpoint
		        type : "POST", // http method
		        data : { id : company_id, csrfmiddlewaretoken: csrftoken }, // data sent with the post request

		        // handle a successful response
		        success : function(json) {
		            console.log(json); // log the returned json to the console
		            
		            if(json.result == 1)
		            {
		            	console.log("deleteing from dom"); 
		            	$( "#thumbnail_"+json.id ).remove(); //supresing the thumbnail from the view
		            	$( "#messages").html("<p id='text_message' class='alert alert-success'>Record succesfully deleted</p>"); //showing the duly message
		            	window.setTimeout(function() { $('#text_message').hide(); }, 3000);
		            }

		        },

		        // handle a non-successful response
		        error : function(xhr,errmsg,err) {
		            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
		        }
		    });
		};

	</script>


{% endblock content %}



